# Files and directories created by pub
.dart_tool/

# Not committing Dart's pubspec.lock
pubspec.lock

# Download of the Dart SDK
dartsdk_download/
dartsdk_download-temp/

# Directory created by dartdoc
doc/

# Node for 'dart test -p node'
node_modules/
node_download/
